<div class="containerr">
<div class="container">
  <div class="container1">
    <mat-icon>touch_app</mat-icon> <h5>Veuillez pointer</h5>

  </div>
  <div class="container2">
    <span >{{currentDateYear}}</span>
    <p>{{currentDateTime}}</p>
    <button mat-raised-button color="warn" >Click me</button>

  </div>
</div>

<div class="container">
  <div class="container1">
    <mat-icon>format_quote</mat-icon>
    <h5>Citation d'aujourd'hui</h5>

  </div>
  <div class="container2">
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, error incidunt blanditiis nemo debitis soluta molestiae magnam laborum sunt iure?</span>
  </div>
</div>
</div>
