<form #congeForm="ngForm" (ngSubmit)="AddConge(congeForm)">
  <div class="container1">
    <div class="header">
    <h2>Demande de congés</h2>
    <button mat-icon-button (click)="closePopup()">  <mat-icon>close</mat-icon></button> </div>
    <div class="checkLabel">
      <label>Date de début</label>
      <input type="date" name="dateD" [(ngModel)]="conge.dateD" (input)="checkCongeAvailability()">
    </div>
    <div class="checkLabel">
      <label>Date de sortie</label>
<input type="date" name="dateF" [(ngModel)]="conge.dateF" (input)="checkCongeAvailability()">
    </div>

    <div class="checkLabel">
      <label>Type de congé</label>
      <select name="type" [(ngModel)]="conge.type">
        <option value="Congés annuels payés">Congés annuels payés</option>
        <option value="Congés maladie">Congés maladie</option>
        <option value="Congés sans solde">Congés sans solde</option>
        <option value="4">Congés de maternité</option>
      </select>
    </div>
    <div class="checkLabel">
      <label>Cause du congé</label>
      <textarea rows="6" placeholder="cause" name="cause" [(ngModel)]="conge.cause"></textarea>
    </div>
    <div class="checkLabel">
      <button [disabled]="isButtonDisabled" mat-raised-button color="primary"  style="width: 60%; margin: auto;">Ajouter</button>
    </div>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

  </div>
</form>
