html, body {
  overflow: auto;
  background-color: #f6feff;

}
.container{
  margin: 7rem auto 1rem ;
}
h1{
color: #2A4867;

}
mat-card{
  max-width: 650px;
  margin : 2rem auto ;
  text-align: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}
.headerLogo img{
Width :87px ;
Height: 91px;
Top:339px;
Left:1019px;
border-radius: 50px;
margin: auto 1rem;
}
.header{
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem auto 2rem;
}
.full-width{
  width:80%;
}
.forgot-password{
  padding-left: 0px;
}
.email-input{
  padding-top : 10px;
}

.mat-snack-bar-container {
  position: fixed;
  top: 10px;
  right: 20px;
  transform: translateX(0);
}
button{
  width: 190px;
}
button.mdc-button.mdc-button--unelevated.mat-mdc-unelevated-button.mat-primary.mat-mdc-button-base{

  margin :2rem auto 1rem ;
  background-color:#1d4d72d0  ;
  height: 50px;
}

