<div class="container">
  <div class="container-header">
    <p *ngIf="firstPoinatge && firstPoinatge.length > 0">Started at <span>{{ firstPoinatge[0].heureDP }}</span></p>
    <p>{{ currentDate }}</p>
    </div>
  <div class="container2">
    <div class="container0">

      <p>{{ currentTime$ | async | date:'HH:mm:ss  '}} </p>
    </div>
      <div class="container21">
        <button *ngIf="!getTrackingStartedFromLocalStorage()" class="button"  (click)="startTracking()" >Start</button>

      <div *ngIf="getTrackingStartedFromLocalStorage()" >
          <button class="button btn-clock"   (click) ="pauseTracking('finJob')"  >Clock Out</button>
          <button class="button btn-break" (click) ="pauseTracking('pause')">Take a Break</button>
        </div>


      <!--  <div class="select-container" *ngIf="!trackingStarted" >
          <div class="select">
            <select>
              <option value="1">Début du travail</option>
            </select>
          </div>
        </div>-->

        <div class="select-container"  *ngIf="trackingStarted">

        </div>



      </div>
</div>
  <div class="pointageList">
    <div class="pointageHeader">
      <p>today</p>
      <p>Total time <span>{{ calculateTotalWorkedTime() }}</span></p>
    </div>


    <table class="pointageTable"  *ngFor="let pointage of pointages.reverse()">
      <tr class="tr">
        <td>
          <strong>Clock in</strong>
          {{pointage.heureDP}}
        </td>
        <td>
          <strong>Clock out</strong>
         <p> {{pointage.heureFP}} </p>
        </td>
        <td>

          <br>
          {{ calculateTimeDifference((pointage.heureFP ?? '').toString(), (pointage.heureDP ?? '').toString()) }}h
        </td>
      </tr>
      <br>
    </table>




  </div>
</div>


    <!--
    <div class="container21">
      <div class="container22">
        <button>Clock out</button>
        <button> Take a break</button>
      </div>
      <div class="container23">
        <label>type</label>
        <select>Fin Travail</select>
        <select>Pause</select>
        <select>Autorisation</select>
      </div>
    </div>
  </div>-->
