  <div class="container" >
    <ul>
      <li><button mat-button (click)="redirectToNotifications()">
<mat-icon matBadge="{{ notifications.length }}"  matBadgeColor="warn">notifications</mat-icon>

      </button>

       <button mat-button  > <mat-icon>account_circle</mat-icon>{{userName}}
        <!--<button mat-button [matMenuTriggerFor]="menu" >-->
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>




    </li>
    <!--
    <mat-menu #menu="matMenu" style="top: 0; right: 0;">
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>logout
      </button>
    </mat-menu>-->
    </ul>
  </div>
